<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4NvCQx2qBKT7gbW1P5Ckogcu7v_aL_HU</string>
	<key>GCM_SENDER_ID</key>
	<string>621923580259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hprize.GI-App-Project</string>
	<key>PROJECT_ID</key>
	<string>gi-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>gi-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621923580259:ios:fdefb3033f416670127b56</string>
</dict>
</plist>